/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* @import '../src/app/todo-list/todo-list.component.css'; */
:root {
  --color-primary: #4706ff;
}

::selection {
  background: rgb(54, 54, 179);
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6C00F7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 128, 32);
}

body {
  background: #efeded5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;


}
.appTitile{cursor: pointer;}

.appTitile:hover{
  color: #4706ff;
}


